@model FixedAsset.Models.Setup.AncillaryCost.AncillaryCostm
@{
    ViewBag.Title = "AncillaryCostEdit";
}


<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>

@*<section id="boxes" class="home-section paddingtop-80">*@

<div class="container">
    <div class="row">


        <div class="col-md-10 col-md-offset-1">



            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                </p>
            </div>
            <div class="panel panel-default panel-table" id="maindiv">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col col-xs-6 text-left">
                            <div>
                                <h3 id="tile1">&nbsp;&nbsp;EDIT ANCILLARY COST</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="row">

                        <div class="col col-xs-6 text-left">
                            <div>
                                <h3 id="tile1">&nbsp;&nbsp;</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="FormDiv">

                    <div class="alert alert-danger alert-dismissible" style="display:none;" id="errordiv">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!&nbsp;&nbsp;</strong><span id="errorspan"></span>
                    </div>
                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                    {

                        if (ViewBag.Message != null)
                        {

                            <div class="alert alert-success">
                                <strong>@ViewBag.Message</strong>
                            </div>
                            <div class="action">

                                <a href="@Url.Action("AncillaryCostList","Setup")" class="btn btn-primary btn-lg">Return</a>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("AncillaryCostEdit", "Setup", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                <div class="form">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(m => m.CostCode)

                    <div class="row">


                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userId">Cost Description:</label>
                                @Html.EditorFor(model => model.CostDesc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CostDesc, "", new { @class = "text-danger" })

                            </div>                         
                        </div>
                            <div class="col-md-6">

                                <div class="form-group">

                                    <label for="CompanyId ">Capitalized: </label>
                                    @Html.DropDownListFor(m => m.Capitalized, new SelectList(ViewBag.getAmortize, "status", "transtype"), "-----select class-----", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Capitalized, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>



                    <div class="modal-footer">
                        <span id="spnMessage" class="text-danger">@TempData["Message"]</span>
                        <br />
                        <div class="action">
                            <button type="submit" id="addbutton" class="btn btn-primary btn-lg">
                                Submit
                            </button>

                            <a href="@Url.Action("AncillaryCostList","Setup")" class="btn btn-primary btn-lg">Return</a>
                        </div>


                    </div>

                </div>

                            if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    <strong>Error!</strong>@ViewBag.Message
                                </div>
                            }
                        }



                    }



                </div>



            </div>

        </div>
    </div>

</div>

@section scripts{
    <link href="~/Content/Tabs.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <
    <script>
        $(function () {
            $('#btnAncillaryCost').click(function () {
                $(this).attr("data-toggle", "modal").attr("data-target", "#exampleModal");
            });

        });

    </script>
}



