@model IEnumerable<FixedAsset.Models.Setup.Department.DepartModel>
@{
    ViewBag.Title = "DepartmentList";
}

<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>
    </div>

</section>
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>
    </div>

</section>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pad-top">
    <div class="card">
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @*<a href="@Url.Action("Create","Applicant")" class="btn btn-primary btn-lg">Add New</a>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @*<a href="@Url.Action("Create","Applicant")" class="btn btn-primary btn-lg">Add New</a>*@
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <a href="@Url.Action("Department", "Setup")" class="btn btn-primary btn-lg">Add New</a>
                </div>
            </div>
        </div>
        <div class="card-header">
            <h2 class="mb-0">DEPARTMENT LIST</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered basic-main-table">
                    <thead>
                        <tr>
                            <th>Department ID</th>
                            <th>Department Name</th>
                            <th>Department Short Name</th>
                            <th>create Date</th>
                            <th>Authoriser</th>
                            <th>User ID</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.Deptid</td>
                                    <td>@item.DeptName</td>
                                    <td>@item.DeptShortname</td>
                                    <td>@item.createdate</td>
                                    <td>@item.authid</td>
                                    <td>@item.userid</td>
                                    <td class="table-action">
                                        <div class="dropdown float-right">
                                            <a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">
                                                Actions<i class="mdi mdi-dots-vertical"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right" style="">
                                                <a class="dropdown-item" href="@Url.Action("DepartmentEdit", "Setup", new { DepartId = item.Deptid })">
                                                    <i class="la fa fa-edit"></i>
                                                    <span class="kt-nav__link-text">Edit</span>
                                                </a>
                                                <a class="dropdown-item" href="@Url.Action("DepartmentDelete", "Setup", new { DepartId = item.Deptid })">
                                                    <i class="la fa fa-trash"></i>
                                                    <span class="kt-nav__link-text">Delete</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @{
                    var data = ViewData["Message"];
                    if(data!=null)
                    {
                        <script type="text/javascript">

            window.onload = function () {
                            alert("@data");
                        };
                        </script>
                    }

                }
            </div>
        </div>
    </div>
</div>
<br />


