<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prime &mdash; Website by Infosight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title -Fixed Asset</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">

    <link href="~/Content/consula/consula/fonts/icomoon/style.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/fonts/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/aos.css" rel="stylesheet" />
    <link href="~/Content/consula/consula/css/style.css" rel="stylesheet" />
    @*<style>
            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 12px 16px;
                z-index: 1;
            }

            .dropdown:hover .dropdown-content {
                display: block;
            }



            li {
                display: block;
                transition-duration: 0.5s;
            }

                li:hover {
                    cursor: pointer;
                }

            ul li ul {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                transition: all 0.5s ease;
                margin-top: 1rem;
                left: 0;
                display: none;
            }

                ul li:hover > ul,
                ul li ul:hover {
                    visibility: visible;
                    opacity: 1;
                    display: block;
                }

                ul li ul li {
                    clear: both;
                    width: 100%;
                }

        </style>*@
    <style>
        /*#frmCheckPassword {
            border-top: #F0F0F0 2px solid;
            background: #808080;
            padding: 10px;
        }*/

        /*    #password {
            padding: 7px;
            border: #F0F0F0 1px solid;
            border-radius: 4px;
        }*/

        #password-strength-status {
            padding: 5px 10px;
            color: #FFFFFF;
            border-radius: 4px;
            margin-top: 5px;
        }

        .medium-password {
            background-color: #b7d60a;
            border: #BBB418 1px solid;
        }

        .weak-password {
            background-color: #ce1d14;
            border: #AA4502 1px solid;
        }

        .strong-password {
            background-color: #12CC1A;
            border: #0FA015 1px solid;
        }

        table.dataTable.select tbody tr,
        table.dataTable thead th:first-child {
            cursor: pointer;
        }

        #header {
            padding: 0px 0 !important;
            background-color: rgba(0,0,0,0.8) !important;
        }

            #header.fixedwrap {
                background-color: rgba(0,0,0,0.8) !important;
            }

        /*#TableDiv {
                    overflow-x: scroll;


            /*background-color:#475;*/
        /*overflow:scroll;*/


        #importTableCSS, #ExtractTableCSS {
            overflow-x: scroll;
            margin-bottom: 3em;
            height: 900px;
            display: block;
        }

        div.dataTables_wrapper {
            margin-bottom: 3em;
        }


        .popup-overlay {
            visibility: hidden;
        }

        .popup-content {
            visibility: hidden;
        }

        .bs-example {
            margin: 20px;
        }

        #TableDiv, #IndivApp {
            overflow-x: scroll;
            margin-bottom: 3em;
            height: auto;
            display: block;
        }

        #FirstColumn, #fisrtTd {
            display: none;
        }

        .container {
            margin: auto;
            width: 80%;
            border: 5px solid #FFFF00;
            padding: 10px;
        }

        .bs-example {
            max-width: 100%;
        }
    </style>
    <style>
        a {
            text-decoration: none;
        }

        nav {
            font-family: monospace;
        }

        ul {
            background: blue;
            list-style: none;
            margin: 0;
            padding-left: 0;
        }

        li {
            color: #ffff;
            background: #00ffff;
            display: block;
            float: left;
            padding: 1rem;
            position: relative;
            text-decoration: none;
            transition-duration: 0.5s;
        }

            li a {
                color: #ffff;
            }

            li:hover,
            li:focus-within {
                background: red;
                cursor: pointer;
            }

                li:focus-within a {
                    outline: none;
                }

        ul li ul {
            background: orange;
            visibility: hidden;
            opacity: 0;
            min-width: 5rem;
            position: absolute;
            transition: all 0.5s ease;
            margin-top: 1rem;
            left: 0;
            display: none;
        }

            ul li:hover > ul,
            ul li:focus-within > ul,
            ul li ul:hover,
            ul li ul:focus {
                visibility: visible;
                opacity: 1;
                display: block;
            }

            ul li ul li {
                clear: both;
                width: 100%;
            }
    </style>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body">

            </div>
        </div>

        <div class="top-bar py-3 bg-light" id="home-section">
            <div class="container">
                <div class="row">
                    <div class="col-6 text-left">
                        <ul class="social-media">
                            <li><a href="#" class="p-2"><span class="icon-facebook"></span></a></li>
                            <li><a href="#" class="p-2"><span class="icon-twitter"></span></a></li>
                            <li><a href="#" class="p-2"><span class="icon-instagram"></span></a></li>
                            <li><a href="#" class="p-2"><span class="icon-linkedin"></span></a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <p class="mb-0 float-right">
                            @*<span class="mr-3"><a href="tel://#"> <span class="icon-phone mr-2"></span><span class="d-none d-lg-inline-block">+1 234 5678 9101</span></a></span>*@
                            <span><a href="#"><span class="icon-envelope mr-2"></span><span class="d-none d-lg-inline-block">@User.Identity.Name</span></a></span>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <header class="site-navbar py-4 bg-white js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-xl-2">
                        <h3 class="mb-0 site-logo"><a href="@Url.Action("Index","Home")" class="text-black h2 mb-0">FA<span class="text-primary">.</span> </a></h3>
                    </div>
                    <div class="col-lg-offset-12 col-md-offset-11 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                @*<li><a href="#home-section" class="nav-link">Home</a></li>
        <li><a href="#about-section" class="nav-link">About Us</a></li>
        <li><a href="#team-section" class="nav-link">Team</a></li>
        <li><a href="#services-section" class="nav-link">Services</a></li>
        <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
        <li><a href="#blog-section" class="nav-link">Blog</a></li>
        <li><a href="#contact-section" class="nav-link">Contact</a></li>*@
                                @if (Request.IsAuthenticated)
                                {
                                    HttpCookie myCookie = Request.Cookies["roleid"];

                                    if (myCookie != null)
                                    {
                                        if (myCookie.Value == "1")
                                        {
                                            <li>
                                                <a href="#">Setup</a>
                                                <ul class="dropdown">
                                                    <li>@Html.ActionLink("Asset Class", "AssetClassList", "Setup")</li>
                                                    <li>@Html.ActionLink("Category Class", "CategoryClassList", "Setup")</li>
                                                    <li>@Html.ActionLink("Ancillary Cost", "AncillaryCostList", "Setup")</li>
                                                    <li>@Html.ActionLink("Recuring Cost", "AncillaryCostList", "Setup")</li>
                                                    <li>@Html.ActionLink("Branch", "BranchList", "Setup")</li>
                                                    <li>@Html.ActionLink("Role", "RoleList", "Setup")</li>
                                                    <li>@Html.ActionLink("Department", "DepartmentList", "Setup")</li>

                                                </ul>
                                            </li>
                                            <li>@Html.ActionLink("User", "UserList", "User")</li>
                                            <li>@Html.ActionLink("Asset", "create", "FixedAsset")</li>
                                            <li>@Html.ActionLink("Ancillary", "ACillaryCostList", "ReAncillary")</li>
                                            <li>@Html.ActionLink("Relocation", "locationlist", "AssetRelocation")</li>
                                            <li>@Html.ActionLink("M./Repairs", "MaintainanceList", "AssetMaintenance")</li>
                                            <li>@Html.ActionLink("Revaluation", "create", "AssetRevaluation")</li>
                                            <li>@Html.ActionLink("Writeoff", "create", "WriteOff")</li>
                                            <li>@Html.ActionLink("Disposal", "create", "AssetDisposal")</li>
                                      
                                            <li>
                                                <a href="#">Reports</a>
                                                <ul class="dropdown">
                                                    <li>@Html.ActionLink("Disposed", "GetFADisposed", "Report")</li>
                                                    <li>@Html.ActionLink("Maintenance/Repairs", "GetFAMaint_Repairs", "Report")</li>
                                                    <li>@Html.ActionLink("Maintenance/Repairs by Code", "GetFAMaintRepairByCode", "Report")</li>
                                                    <li>@Html.ActionLink("FA. Registered", "GetFARegister", "Report")</li>
                                                    <li>@Html.ActionLink("Write Off", "GetFAWrittenOff", "Report")</li>

                                                </ul>
                                            </li>
                                            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Logout</a></li>

                                        }

                                        else if (myCookie.Value == "2" || myCookie.Value == "3" || myCookie.Value == "4" || myCookie.Value == "5" || myCookie.Value == "6")
                                        {
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>@Html.ActionLink("Authorize", "Approval2", "Applicant")</li>
                                            <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                                            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Logout</a></li>

                                        }
                                        else if (myCookie.Value == "7")
                                        {
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>@Html.ActionLink("Disburse", "Disburse", "Applicant")</li>
                                            <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                                            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Logout</a></li>

                                        }
                                        else if (myCookie.Value == "8")
                                        {
                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>@Html.ActionLink("Review", "Index", "Applicant")</li>
                                            <li>@Html.ActionLink("Authorize", "Approval2", "Applicant")</li>
                                            <li>@Html.ActionLink("Manage User", "Index", "User")</li>
                                            <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
                                            <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                                            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Logout</a></li>

                                        }
                                        else if (myCookie.Value == "9")
                                        {

                                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                            <li>@Html.ActionLink("Reports", "Index", "Report")</li>
                                            <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Logout</a></li>
                                        }


                                    }
                                    @*<li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Logout</a></li>*@
                                    using (Html.BeginForm("LogOut", "User", FormMethod.Post, new { id = "logoutForm" }))
                                    {

                                        @*<li>  <a href="#" class="nav-link"></a></li>*@


                                        <li class="nav-item" style="display:none;"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link">Logout</a></li>

                                    }
                                }
                                else
                                {
                                    <li>
                                        <a href="#">Setup</a>
                                        <ul class="dropdown">
                                            <li>@Html.ActionLink("Asset Class", "AssetClassList", "Setup")</li>
                                            <li>@Html.ActionLink("Category Class", "CategoryClassList", "Setup")</li>
                                            <li>@Html.ActionLink("Ancillary", "AncillaryClassList", "Setup")</li>
                                            <li>@Html.ActionLink("Branch", "BranchList", "Setup")</li>
                                            <li>@Html.ActionLink("Role", "RoleList", "Setup")</li>
                                            <li>@Html.ActionLink("Department", "DepartmentList", "Setup")</li>

                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("User", "UserList", "User")</li>
                                    <li>@Html.ActionLink("Asset", "create", "FixedAsset")</li>
                                    <li>@Html.ActionLink("Rec. Ancillary", "create", "ReAncillary")</li>
                                    <li>@Html.ActionLink("Allocation", "create", "AssetAlloction")</li>
                                    <li>@Html.ActionLink("Relocation", "create", "AssetRelocation")</li>
                                    <li>@Html.ActionLink("M./Repairs", "create", "AssetMaintenance")</li>
                                    <li>@Html.ActionLink("Revaluation", "create", "AssetRevaluation")</li>
                                    <li>@Html.ActionLink("Writeoff", "create", "WriteOff")</li>
                                    <li>@Html.ActionLink("Disposal", "create", "AssetDisposal")</li>
                                    <li>
                                        <a href="#">Reports</a>
                                        <ul class="dropdown">
                                            <li>@Html.ActionLink("Disposed", "GetFADisposed", "Report")</li>
                                            <li>@Html.ActionLink("Maintenance/Repairs", "GetFAMaint_Repairs", "Report")</li>
                                            <li>@Html.ActionLink("Maintenance/Repairs by Code", "GetFAMaintRepairByCode", "Report")</li>
                                            <li>@Html.ActionLink("FA. Registered", "GetFARegister", "Report")</li>
                                            <li>@Html.ActionLink("Write Off", "GetFAWrittenOff", "Report")</li>

                                        </ul>
                                    </li>
                                    @*@Html.ActionLink("Forgot password", "ForgotPassword", "User", new { area = "" }, new { @class = "navbar-brand" })*@
                                }
                            </ul>
                        </nav>
                    </div>


                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>


        @RenderBody()
        <footer class="site-footer">
            <div class="container">
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> powered by <a href="https://infosightonline.com" target="_blank">Infosight Limited</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

    </div> <!-- .site-wrap -->



    <script src="~/Content/consula/consula/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/consula/consula/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/consula/consula/js/jquery-ui.js"></script>
    <script src="~/Content/consula/consula/js/popper.min.js"></script>
    <script src="~/Content/consula/consula/js/bootstrap.min.js"></script>
    <script src="~/Content/consula/consula/js/owl.carousel.min.js"></script>
    <script src="~/Content/consula/consula/js/jquery.stellar.min.js"></script>
    <script src="~/Content/consula/consula/js/jquery.countdown.min.js"></script>
    <script src="~/Content/consula/consula/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/consula/consula/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/consula/consula/js/aos.js"></script>
    <script src="~/Content/consula/consula/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/consula/consula/js/jquery.sticky.js"></script>
    <script src="~/Content/consula/consula/js/main.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>