@model FixedAsset.Models.AssetAcuisition.AssetModel
@{
    ViewBag.Title = "Create";
}

<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>


    </div>

</section>

@*<section id="boxes" class="home-section paddingtop-80">*@

<div class="container">
    <div class="row">


        <div class="col-md-10 col-md-offset-1">



            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                </p>
            </div>
            <div class="panel panel-default panel-table" id="maindiv">

                <div class="panel-heading">
                    <div class="row">

                        <div class="col col-xs-6 text-left">
                            <div>
                                <h3 id="tile1">&nbsp;&nbsp;FIXED ASSET ACQUISITION</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="row">

                        <div class="col col-xs-6 text-left">
                            <div>
                                <h3 id="tile1">&nbsp;&nbsp;</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body" id="FormDiv">

                    <div class="alert alert-danger alert-dismissible" style="display:none;" id="errordiv">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>Error!&nbsp;&nbsp;</strong><span id="errorspan"></span>
                    </div>
                    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                    {

                        if (ViewBag.Message != null)
                        {

                            <div class="alert alert-success">
                                <strong>@ViewBag.Message</strong>
                            </div>
                            <div class="action">

                                <a href="@Url.Action("Create","FixedAsset")" class="btn btn-primary btn-lg">Return</a>
                            </div>
                        }
                    }
                    else
                    {
                        using (Html.BeginForm("Create", "FixedAsset", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                <div class="form">


                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userId"> Fixed Asset Category:</label>
                                @Html.DropDownListFor(m => m.CatCode, new SelectList(ViewBag.FACatCode, "CatCode", "CatDesc"), "-----select Category-----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CatCode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Fixed Asset Class:</label>
                                @Html.DropDownListFor(m => m.ClassCode, new SelectList(ViewBag.FAClass, "ClassCode", "ClassName"), "-----select class-----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ClassCode, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">

                                <label for="CompanyId ">Depreciation Method: </label>
                                @Html.EditorFor(m => m.DepMethod, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DepMethod, "", new { @class = "text-danger" })
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Depreciation Rate:</label>

                                @Html.EditorFor(model => model.Deprate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Deprate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId"> Fixed Asset Code:</label>
                                @Html.EditorFor(model => model.FACode, new { htmlAttributes = new { @class = "form-control fulName" } })
                                @Html.ValidationMessageFor(model => model.FACode, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId"> Fixed Asset Name:</label>
                                @Html.EditorFor(model => model.FAName, new { htmlAttributes = new { @class = "form-control fulName" } })
                                @Html.ValidationMessageFor(model => model.FAName, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Residual Value:</label>
                                @Html.EditorFor(model => model.ResidualVal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ResidualVal, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Accumulated Depreciation:</label>
                                @Html.EditorFor(model => model.AccumDep, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccumDep, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId"> Asset Lifespan:</label>

                                @Html.EditorFor(model => model.LifeSpan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LifeSpan, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId"> Asset Lifespan used:</label>
                                @Html.EditorFor(model => model.LifeSpanUsed, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LifeSpanUsed, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId"> Location:</label>
                                @Html.DropDownListFor(m => m.LocationCode, new SelectList(ViewBag.FALocationCode, "FALocationCode", "FALocationCode"), "-----select Location-----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.LocationCode, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId"> Cost:</label>
                                @Html.EditorFor(model => model.FACost, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FACost, "", new { @class = "text-danger" })

                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Fixed Asset GL:</label>
                                @Html.EditorFor(model => model.FAGLAccount, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FAGLAccount, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Funding GL:</label>
                                @Html.EditorFor(model => model.FundingGL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FundingGL, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Accumulated Depreciation GL:</label>
                                @Html.EditorFor(model => model.AccumDepGL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AccumDepGL, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="userId">Expenses GL:</label>
                                @Html.EditorFor(model => model.ExpenseGL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ExpenseGL, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                    @*<div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="userId">Disposal Method:</label>
                    @Html.EditorFor(model => model.DisposalMethod, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DisposalMethod, "", new { @class = "text-danger" })

                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                    <label for="userId">Disposal Amount:</label>
                    @Html.EditorFor(model => model.DisposalAmt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DisposalAmt, "", new { @class = "text-danger" })

                </div>
            </div>
        </div>*@
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary" id="btnAncillaryCost">Ancillary Cost</button>
                            </div>
                        </div>
                        <div class="col-md-12" id="CreditGrantAmount3" style="display:none;">
                            <div class="form-group">
                                @*<label for="userId">Enter Amount for Credit Grant:</label>
                    @Html.Editor("...", new { htmlAttributes = new { @class = "form-control formatNumber" } })
                    @Html.ValidationMessage("....", "", new { @class = "text-danger" })*@
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <span id="spnMessage" class="text-danger">@TempData["Message"]</span>
                        <br />
                        <div class="action">
                            <button type="submit" id="addbutton" class="btn btn-primary btn-lg">
                                Submit
                            </button>

                            <a href="@Url.Action("Index","Applicant")" class="btn btn-primary btn-lg">Return</a>
                        </div>


                    </div>



                </div>

                            if (ViewBag.Message != null)
                            {
                                <div class="alert alert-danger">
                                    <strong>Error!</strong>@ViewBag.Message
                                </div>
                            }
                        }



                    }



                </div>


                <div class="panel-body" id="TableDiv">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title" id="tile2">  <button id="refresh" style="display: none" class="btn btn-primary" onClick="window.location.reload();">back</button></h3>
                            </div>
                            <div class="col col-xs-6 text-right">
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="width:80% !important">
            <div class="modal-content">
                <div class="modal-header">
                    @*<h5 class="modal-title" id="exampleModalLabel">New message</h5>*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="row">

                        <div class="col-md-12" id="IndivApp">
                            <div class="card" id="assetDetails">
                                <h5 class="card-header" style="background-color:blue;color:white">Ancillary Cost</h5>
                                <div class="card-body">

                                    <div class="row">
                                        <div class="col-md-6" style="color:black; font-size:medium;">COST ELEMENTS:</div>  <div class="col-md-6" style="color:black; font-size:medium;">AMOUNT</div>
                                        <br/>
                                        <hr />
                                        @*<div class="col-md-6" style="background-color:antiquewhite"><label class="" id="CustomerName" style="color:blue;"><input class="form-control AmountApprove2" id="txtcostElement" /></label></div>*@

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Transport Cost:</div>
                                        <div class="col-md-6" style="background-color:antiquewhite"><label class="" id="lblBusName" style="color:blue;"><input class="form-control AmountApprove2" id="txtTransElement" /> </label></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Installation Cost:</div>
                                        <div class="col-md-6" style="background-color:antiquewhite"><label class="" id="YearOfInc" style="color:blue;"><input class="form-control AmountApprove2" id="txtInstallCost" /> </label></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">Transit Insurance cost:</div>
                                        <div class="col-md-6" style="background-color:antiquewhite"><label class="" id="YearOfInc" style="color:blue;"><input class="form-control AmountApprove2" id="txtInstallCost" /> </label></div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <link href="~/Content/Tabs.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <   <script>
        $(function () {
            $('#btnAncillaryCost').click(function () {
                $(this).attr("data-toggle", "modal").attr("data-target", "#exampleModal");
            });

        });

    </script>
}



