
@{
    ViewBag.Title = "Index";
}
<section id="intro" class="intro">

    <div class="row">

        <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
            <div style="height:130px">

            </div>
        </div>
    </div>

</section>


@*<section id="boxes" class="home-section paddingtop-80">*@

<div class="container">
    <div class="row">


        @*<div class="col-md-10 col-md-offset-1">*@
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div style="display:none;" class="alert alert-success alert-dismissible" id="succesdiv">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <p>
                    <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="sucessspan"></span>

                </p>
            </div>





            <div class="bs-example" id="ListContainer">


                <div class="panel panel-default panel-table" id="maindiv">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        @*<div class="col-md-6">
                                <a href="@Url.Action("Unmatched","Report")"> Go to Matched GL Report</a>
                            </div>*@
                    </div>


                    <div class="panel-body" id="TableDivCSS">
                        <div class="panel-heading">
                            <div class="row">

                                <div class="col col-xs-6 text-left">
                                    <div>
                                        <h3 id="tile1">&nbsp;&nbsp;Fixed Asset List</h3>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br />
                        <div style="width: 100%; " id="TableDiv">


                            <table id="importTable1" class="display" style="width:100%;">

                                <thead>
                                    <tr>
                                        <th></th>
                                        <th id="FirstColumn">Asset Code</th>
                                        <th id="1">Name</th>
                                        <th id="2">Deprec. Method</th>
                                        <th id="3">Rate</th>
                                        <th id="3">Lifespan</th>
                                        <th id="4">Location Code</th>
                                        <th id="5">Cost</th>
                                        <th id="6">Residual Value</th>
                                        <th id="7">Accum. Depr.</th>
                                        <th id="8">LifeSpan Used</th>
                                        <th id="9">Deprec. Start Date</th>
                                        <th id="10">FAGL Account</th>
                                        <th id="11">Funding GL</th>
                                        <th id="12">Accum. Deprec. GL</th>
                                        <th id="13">Expense GL</th>
                                        <th id="13">Disposal Method</th>
                                        <th id="13">Disposal Amount</th>
                                        <th id="13">UserID</th>
                                        <th id="13">AuthID</th>
                                        <th id="14"></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>
</div>

@section scripts{



    @*<link href="~/Content/assets/vendor/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    @*<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/EkitiCss")
    @Scripts.Render("~/Content/EkitiJs")
    @*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@
    @*<link href="~/Content/accounting/css/NewDatablecss.css" rel="stylesheet" />
        <script src="~/Content/accounting/js/jquery-3.2.1.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
        <script src="~/Content/accounting/js/NewDatatTablejs.js"></script>*@



    @*<script src="~/Content/assets/vendor/jquery/jquery.dataTables.min.js"></script>*@


    @*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
    @*<script src="~/Content/consula/DataTables/DataTables-1.10.24/js/jquery.dataTables.min.js"></script>*@
    @*<script src="~/Content/consula/DataTables/DataTables-1.10.24/js/dataTables.bootstrap4.min.js"></script>*@
    <script type="text/javascript">
    //function reload() {
    //    location.reload();
    //}

        var table;
    var RootUrl = "";
    $(document).ready(function () {
        $('.actionbtn').click(function () {

            if ($("#finalD").prop('checked') == true) {
                $("#TrancheD").attr("disabled", true);
                $("#finalD").attr("disabled", false);
            } else if ($("#TrancheD").prop('checked') == true) {
                $("#finalD").attr("disabled", true);
                $("#TrancheD").attr("disabled", false);
            } else {
                $("#finalD").attr("disabled", false);
                $("#TrancheD").attr("disabled", false);
            }
        });
            $("#taxDownload").click(function () {
            //RootUrl = "/Applicant/DownloadTaxReceipt?";
            var regId = parseInt($('#lblRegistrationId').text());
            $.ajax(
                {
                    url: '@Url.Action("DownloadTaxReceipt", "Applicant")',
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    data: {
                        id: regId
                    },
                    type: "GET",
                    success: function () {
                        window.location = RootUrl + '/Applicant/DownloadTaxReceipt?id=' + regId;

                    }
                });
        });
        $("#TurnOverDownload").click(function () {
            //RootUrl = "/Applicant/DownloadTaxReceipt?";
            var regId = parseInt($('#lblRegistrationId').text());
            $.ajax(
                {
                    url: '@Url.Action("DownloadBusinessTurnOver", "Applicant")',
                    contentType: 'application/json; charset=utf-8',
                    datatype: 'json',
                    data: {
                        id: regId
                    },
                    type: "GET",
                    success: function () {
                        window.location = RootUrl + '/Applicant/DownloadBusinessTurnOver?id=' + regId;

                    }
                });
        });
                 $("#CACDownload").click(function () {
                //RootUrl = "/Applicant/DownloadTaxReceipt?";
             var regId = parseInt($('#lblRegistrationId').text());
            $.ajax(
            {
                url: '@Url.Action("DownloadCAC", "Applicant")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: {
                    id: regId
                },
                type: "GET",
                    success: function () {
                        window.location = RootUrl + '/Applicant/DownloadCAC?id=' + regId;

                    }
            });

                 });
        $("#DownloadExp").click(function () {
                //RootUrl = "/Applicant/DownloadTaxReceipt?";
             var regId = parseInt($('#lblRegistrationId').text());
            $.ajax(
            {
                url: '@Url.Action("DownloadExpense", "Applicant")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: {
                    id: regId
                },
                type: "GET",
                    success: function () {
                        window.location = RootUrl + '/Applicant/DownloadCAC?id=' + regId;

                    }
            });

                 });


         @*$("#taxDownload").click(function () {
                //RootUrl = "/Applicant/DownloadTaxReceipt?";
                var regId = parseInt($('#RegistrationId').text());
            $.ajax(
            {
                url: '@Url.Action("DownloadTaxReceipt", "Applicant")',
                contentType: 'application/json; charset=utf-8',
                datatype: 'json',
                data: {
                    id: regId
                },
                type: "GET",
                    success: function () {
                        window.location = RootUrl + '/Applicant/DownloadTaxReceipt?id=' + regId;

                    }
            });

        });*@
        //$('.reloadBtn').click(function () {

        //    location.reload();
        //    });

            //$('#importTable1 tbody').on('click', 'tr', function () {

            //    var data = table.row(this).data();
            //    AccountInfo(data[1])
            //    //e.preventDefault();
            //    $(this).attr("data-toggle", "modal").attr("data-target","#exampleModal");


            //});

            $('#freshList').click(function (e) {
                var grantType = $('#grantType').val();
                if (grantType == "" || grantType == null) {

                    sweetAlert("please select grant type")
                    e.preventDefault();
                } else {
                    $('#importTable1').dataTable().fnDestroy();
                    GetStatementRecords(1, grantType);
                    $('#tile1').text("LIST OF FRESH APPLICANTS");
                }

            });
            $('#RejectedList').click(function (e) {
                var grantType = $('#grantType').val();
                if (grantType == "" || grantType == null) {
                    sweetAlert("please select grant type")
                    e.preventDefault();
                } else {
                    $('#importTable1').dataTable().fnDestroy();
                    GetStatementRecords(2, grantType);
                    $('#tile1').text("LIST OF REJECTED APPLICANTS");
                }


            });


            $('#Approve').click(function () {
                Approve();
            });
            $('#Reject').click(function () {
                Reject();
            });
    });

    function GetStatementRecords(btn, grantType) {

        var url = '@Url.Action("GetApplicantList")';
        //var data={
        //    btn: btn
        //};
        $.ajax({
            url: url,
            type: "GET",
            data: { btn: btn, dli: grantType},
            contentType: "application/json; charset=utf-8",
            datatype: JSON,
            success: function (Data) {
                if (Data != null) {
                    var tr;
                    $('#importTable1 tbody').empty();
                    //Append each row to html table
                    //for (var i = 0; i < result.course.length; i++) {
                    var i = 0;
                    $.each(Data, function (index, item) {
                        tr = $('<tr/>');
                        tr.append('<td></td>');
                        tr.append('<td id="fisrtTd">' + item.applicant_Id+'</td>');
                        tr.append('<td id="a' + i + '">' + item.SurName + '</td>');
                        tr.append('<td id="b' + i + '">' + item.FirstName + '</td>');
                        tr.append('<td id="b' + i + '">' + item.Middlename + '</td>');
                        tr.append('<td id="b' + i + '">' + item.Age + '</td>');
                        tr.append('<td id="d' + i + '">' + item.LGA + '</td>');
                        tr.append('<td id="e' + i + '">' + item.BusinesTaxRegNo + '</td>');
                        tr.append('<td id="f' + i + '">' + Formatdate(item.LastTaxPayDate) + '</td>');
                        tr.append('<td id="g' + i + '">' + item.NoOfYrInOperation + '</td>');
                        tr.append('<td id="c' + i + '">' + item.gender + '</td>');
                        tr.append('<td id="i' + i + '">' + item.BusinessSector + '</td>');
                        tr.append('<td id="j' + i + '">' + addCommas(item.Amount) + '</td>');
                        tr.append('<td id="j' + i + '">' + item.Score + '</td>');
                        tr.append('<td id="j' + i + '">' + addCommas(item.EstimValOfBusTurnoverXLB) + '</td>');
                        tr.append('<td id="j' + i + '">' + Formatdate(item.createdate) + '</td>');

                        tr.append('<td class="table-action">' +
                        '<div class="dropdown float-right">' +
                            '<a href="#" class="dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false">' +
                            ' Actions<i class="mdi mdi-dots-vertical"></i></a>' +
                            '<div class="dropdown-menu dropdown-menu-right" style="">' +
                            '<a class="dropdown-item" id="btndetail" data-toggle="modal" data-target="#exampleModal" href="#" onclick="return AccountInfo(\'' + item.applicant_Id + '\')">' +
                            '<i class="la fa fa-eye"></i>' +
                            ' <span class="kt-nav__link-text">View Details</span></a>' +
                            ' <a class="dropdown-item" href="' + RootUrl + '/Applicant/EditApplicant?id=' + item.applicant_Id + '">' +
                            '<i class="la fa fa-edit"></i>' +
                            '<span class="kt-nav__link-text">Edit</span></a>' +
                            ' </div>' +
                            ' </div>' +
                            '</td>');

                        $('table').append(tr);
                        //i++;
                    });
                    //table = $('.display').DataTable({
                    table = $('#importTable1').DataTable();
                        //columnDefs: [{
                        //    targets: 1, visible: false
                        //}],
                        //rowCallback: function (row, data, displayNum, displayIndex, dataIndex) {
                        //    $(row).attr('title', "Click to view details")
                        //}
                        //"destroy": true,
                        //retrieve: true
                    //});
                    //$('#importTable1').DataTable({
                    //    dom: 'Bfrtip',
                    //    buttons: [
                    //        'copy', 'csv', 'excel', 'pdf', 'print'
                    //    ],
                    //    retrieve: true,
                    //});

                    //$(document).ready(function () {
                    //    //var table = $('#importTable1').DataTable();


                    //});
                    $("#ListContainer").show();
                } else {
                    alert("No record found");
                }

            },
            error: function (data) { }
        });

    }

      function AccountInfo(id) {
        var data = {
            id: id
           };
           var url = '@Url.Action("GetApplicantById")';
        $.ajax({
                 type: "GET",
                url: url,
                data: data,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (res) {
                    if (res != null) {
                        $("#formData").show();
                        $('#lblRegistrationId').text(res.applicant_Id);
                        $('#lblSurname').text(res.SurName);
                        $('#lblFirstName').text(res.FirstName);
                        $('#lblMiddlename').text(res.Middlename);
                        $('#lblgender').text(res.gender);
                        $('#lblStateOfOrigin').text(res.StateOfOrigin);
                        $('#lblLGA').text(res.LGA);
                        $('#lblResidAddress').text(res.ResidAddress);
                        $('#lblPostFunct').text(res.Position);
                        $('#lblTaxReg').text(res.PersonalTaxRegNo);
                        $('#lblPhone').text(res.Mobile);
                        $('#lblEmail').text(res.Email);
                        $('#lblBusSector').text(res.BusinessSector);
                        $('#lblBusType').text(res.BusinessType);
                        $('#lblBusAdress').text(res.BusinessAddress);
                        $('#lblCity').text(res.City);
                        $('#lblState').text(res.State);
                        $('#lblNationality').text(res.Country);
                        $('#lblBusiPhone').text(res.BusinesPhoneNo);
                        $('#lblBusiEmail').text(res.BusinesEmail);
                        $('#lblBusnRegNum').text(res.BusnRegNum);
                        $('#lblWebsitAdress').text(res.WebsitAdress);
                        $('#lblTaxRegNO').text(res.BusinesTaxRegNo);
                        $('#lblBussComDate').text(Formatdate(res.LastTaxPayDate));
                        $('#lblNumYr').text(res.NoOfYrInOperation);
                        $('#lblNOofEmp').text(res.NOofEmployee);
                        $('#lblNOofFemale').text(res.NOofFemale);
                        $('#lblNOofMale').text(res.NOofMale);
                        //$('#lblAgeGrade').text(res.AgeGrade);
                        $('#lblBankName').text(res.BankName);
                        $('#lblAcctNo').text(res.AcctNo);
                        $('#lblBVN').text(res.BVN);
                        $('#lblBusinessAsset').text(res.EstimValOfBusTurnoverXLB);
                        $('#lblRuninloan').text(res.TotalOutstandVolumeOfLoan);
                        $('#lblpaymSchedule').text(res.HowOftenWereYouPaying);
                        $('#lblAmountPaid').text(res.HowMuchWereyouPaying);
                        $('#lblpaymentChange').text(res.RepaymntChangeToHowMuch);
                        $('#lblrepaymenobligation').text(res.findItDiffToMeetPaymentOblig);
                        $('#lblbussImpact').text(res.BusinImpactByCovid);
                        $('#lblbussNegImpact').text(res.BusiNegImpactByCovid);
                        $('#lblplantolayoff').text(res.PlanningToLayOffEmployeeDueToNeg);
                        $('#lblNoOfEmployeeLayOff').text(res.DidYouLayOffEmployee);
                        $('#lblDidBusContDuringCovidCrisis').text(res.DidBusContDuringCovidCrisis);
                        $('#lblCudHaveMadeItPoss').text(res.WhtToolCudVeMadeItPosib);
                        $('#lblCudHaveMadeItEff').text(res.WhtToolCudVeMadeBusMoreEffnt);
                        $('#lblEmployeeAbleToWrkFrmHom').text(res.EmployeeAbleToWrkFrmHom);
                        $('#lblWhtToolCudVeReqToMakeItPosib').text(res.WhtToolCudVeReqToMakeItPosib);
                        $('#lblfullname').text(res.fullname);
                        $('#lblAllSectnOfFormFilled').text(res.AllSectnOfFormFilled);
                        $('#lblIsBusinessCertAttach').text(res.IsBusinessCertAttach);
                        $('#lblIsEvidOfTaxPaymentAttach').text(res.IsEvidOfTaxPaymentAttach);
                        $('#lblIsEvOf1YrTOverAttachOrVerifid').text(res.IsEvOf1YrTOverAttachOrVerifid);
                        $('#lblVeBnkDetailProvided').text(res.VeBnkDetailProvided);
                        $('#lbl IsImpactOfCovidOnBusnVrfd').text(res.IsImpactOfCovidOnBusnVrfd);
                        $('#lblAmountReguest').text(res.Amount);
                        $('#PrevComment').val(res.rejectComment);
                        //$('#grandrequest').text(res.grandrequest);
                        //$('#declareation').text(res.declareation);



                    } else {
                          $("#formData").hide();
                        alert("Account Number does not exist");

                    }
                },
                error: function (result) {
                    alert("Error" + result.responseText);
                }
            });

        }

    function Approve() {

        var regId = $('#lblRegistrationId').text();
        var comment = $('#Comment').val();
        if (comment != '') {
            var approveAmount = parseFloat($('#lblAmountReguest').text()).toFixed(2);
            var actionType = 0;
            $('input[name="actionType"]:checked').each(function () {
                actionType = $(this).val();
            });
            var model = {
                applicant_Id: regId,
                approveAmount: approveAmount,
                ApproveComment: comment,
                approveType: actionType
            };
            var url = '@Url.Action("Approve")';
            $.ajax({
                type: "GET",
                url: url,
                data: model,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (res) {
                    if (res.retVal != null) {
                        //sweetAlert(res.retmsg);
                        swal.fire({
                            title: "Approved!",
                            text: res.retmsg,
                            icon: "success",
                            buttons: ["", "OK"],
                            dangerMode: true,
                        })
                            .then((willDelete) => {
                                if (willDelete) {


                                    //swal("Poof! This application has been rejected permanently", {
                                    //    icon: "success",
                                    //    className: "reloadBtn",
                                    //});

                                    location.reload();
                                } else {
                                    //swal("This application has been forwarded to Enumerator for correction", {
                                    //    className: "reloadBtn",
                                    //});
                                    location.reload();
                                }
                            });

                    } else {
                        //sweetAlert("Account Number does not exist");
                        swal.fire("Good job!", "Account Number does not exist!", "success");
                    }
                },
                error: function (result) {
                    sweetAlert("Error" + result.responseText);
                }
            });
        } else {
            alert("Please Enter comment")
        }


    }
  function Reject() {

        var regId = $('#lblRegistrationId').text();
      var comment = $('#Comment').val();
      if (comment != '') {
                  var rejectAmount = parseFloat($('#lblAmountReguest').text()).toFixed(2);
        var actionType = 0;
        $('input[name="actionType"]:checked').each(function () {
            actionType = $(this).val();
        });


          swal.fire({
            title: "Are you sure?",
            text: "Do you want to reject it permanently?",
            icon: "warning",
            buttons: ["NO", "YES"],
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    actionType = 1;
                               var model = {
            applicant_Id: regId,
            rejectAmount: rejectAmount,
            rejectComment: comment,
            rejectType: actionType
        };
        var url = '@Url.Action("Reject")';
                $.ajax({
                    type: "GET",
                    url: url,
                    data: model,
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (res) {
                        //if (res.retVal != null) {
                        //    swal({
                        //        title: "Approved!",
                        //        text: res.retmsg,
                        //        icon: "success",
                        //        button: "Ok",
                        //    });

                        //} else {
                        //    sweetAlert("Account Number does not exist");
                        //}
                    },
                    error: function (result) {
                        sweetAlert("Error" + result.responseText);
                    }
                });

                    //swal("Poof! This application has been rejected permanently", {
                    //    icon: "success",

                    //});
                    swal.fire({
                        title: "Rejected!",
                        text: res.retmsg,
                        icon: "warning",
                        buttons: ["", "OK"],
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {


                                //swal("Poof! This application has been rejected permanently", {
                                //    icon: "success",
                                //    className: "reloadBtn",
                                //});

                                location.reload();
                            } else {
                                //swal("This application has been forwarded to Enumerator for correction", {
                                //    className: "reloadBtn",
                                //});
                                location.reload();
                            }
                        });


                } else {
                               actionType = 0;
                               var model = {
            applicant_Id: regId,
            rejectAmount: rejectAmount,
            rejectComment: comment,
            rejectType: actionType
        };
        var url = '@Url.Action("Reject")';
                $.ajax({
                    type: "GET",
                    url: url,
                    data: model,
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (res) {
                        //if (res.retVal != null) {
                        //    swal({
                        //        title: "Approved!",
                        //        text: res.retmsg,
                        //        icon: "success",
                        //        button: "Ok",
                        //    });

                        //} else {
                        //    sweetAlert("Account Number does not exist");
                        //}
                    },
                    error: function (result) {
                        sweetAlert("Error" + result.responseText);
                    }
                });

                    //swal("This application has been forwarded to Enumerator for correction", {

                    //});
                    swal.fire({
                        title: "Rejected!",
                        text: res.retmsg,
                        icon: "warning",
                        buttons: ["", "OK"],
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {


                                //swal("Poof! This application has been rejected permanently", {
                                //    icon: "success",
                                //    className: "reloadBtn",
                                //});

                                location.reload();
                            } else {
                                //swal("This application has been forwarded to Enumerator for correction", {
                                //    className: "reloadBtn",
                                //});
                                location.reload();
                            }
                        });

                }
            });
        //actionType = 0;

      //location.reload(true);
      } else {
          alert("Please Enter comment");
      }

        }

    //    function GetGLExtractRecords() {
    //        var accountNoGL = $("#accountNoGL").val();
    //    //var startDate = $("#StartDate").val();
    //    //var EndDate = $("#EndDate").val();

    //    var data = {
    //        Acctno: accountNoGL
    //        //StartDate: startDate,
    //        //EndDate: EndDate
    //    };
    //    $.ajax({
    //        url: RootUrl + "/Reconcile/GetAllExtractAccount2",
    //        type: "GET",
    //        data:data,
    //        contentType: "application/json; charset=utf-8",
    //        datatype: JSON,
    //    success: function (Data) {
    //                    var tr;
    //                    $('#ExtractTable1 tbody').empty();
    //                    //Append each row to html table
    //                    //for (var i = 0; i < result.course.length; i++) {
    //        var j = 0;
    //                    $.each(Data, function (index, item) {
    //                        tr = $('<tr/>');
    //                        tr.append('<td></td>');
    //                        tr.append('<td id="sev' + j + '">' + item.id + '</td>');
    //                        tr.append('<td id="sev'+j+'">' + item.Accountnumber+'</td>');
    //                        tr.append('<td id="eig'+j+'">' + Formatdate(item.trandate)+'</td>');
    //                        tr.append('<td id="nine'+j+'">' + item.narration+ '</td>');
    //                        tr.append('<td id="ten' + j + '">' + item.tellerNo + '</td>');
    //                        tr.append('<td id="ten'+j+'">' + item.userid+'</td>');
    //                        tr.append('<td id="elev'+j+'">' + item.TranAmount+ '</td>');
    //                        tr.append('<td id="twel' + j + '">' + item.matchNo + '</td>');
    //                        tr.append('<td id="twel'+j+'">' + Formatdate(item.createdate)+'</td>');
    //                        $('table').append(tr);
    //                        j++;
    //                    });
    //                    $('#ExtractTable1').DataTable({
    //                    dom: 'Bfrtip',
    //                    buttons: [
    //                        'copy', 'csv', 'excel', 'pdf', 'print'
    //                    ],
    //                    retrieve: true,
    //                    });
    //        $("#ExtractTable1").show();
    //        },
    //        error: function (data) { }
    //    });

    //}


    function Formatdate(Jsondate) {
        if (Jsondate == null || Jsondate == '') {
            return Jsondate;
        }
        else {
            var mydate = new Date(eval('new' + Jsondate.replace(/\//g, ' ')));
            var month = mydate.getMonth() + 1;
            var day = mydate.getDate();
            var year = mydate.getFullYear();
            var date = day + "/" + month + "/" + year;
            return date;
        }

    }
    function addCommas(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }
    </script>

}
<style>


    table.dataTable.select tbody tr,
    table.dataTable thead th:first-child {
        cursor: pointer;
    }

    #header {
        padding: 0px 0 !important;
        background-color: rgba(0,0,0,0.8) !important;
    }

        #header.fixedwrap {
            background-color: rgba(0,0,0,0.8) !important;
        }

    /*#TableDiv {
                overflow-x: scroll;


        /*background-color:#475;*/
    /*overflow:scroll;*/


    #importTableCSS, #ExtractTableCSS {
        overflow-x: scroll;
        margin-bottom: 3em;
        height: 900px;
        display: block;
    }

    div.dataTables_wrapper {
        margin-bottom: 3em;
    }


    .popup-overlay {
        visibility: hidden;
    }

    .popup-content {
        visibility: hidden;
    }

    .bs-example {
        margin: 20px;
    }

    #TableDiv, #IndivApp {
        overflow-x: scroll;
        margin-bottom: 3em;
        height: auto;
        display: block;
    }

    #FirstColumn, #fisrtTd {
        display: none;
    }

    .container {
        margin: auto;
        width: 80%;
        border: 5px solid #FFFF00;
        padding: 10px;
    }

    .bs-example {
        max-width: 100%;
    }
</style>