@model FixedAsset.Models.User.UserLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/Login_v1/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v1/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v1/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v1/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v1/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v1/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v1/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login_v1/css/main.css">
    <!--===============================================================================================-->

</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/Content/Login_v1/images/img-01.png" alt="IMG">
                </div>
                @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
                {

                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            <strong>@ViewBag.Message</strong>
                        </div>
                    }
                }    @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
            <form class="login100-form validate-form">
                <span class="login100-form-title">
                  <p1 style="color:darkgreen">FA</p1>
                </span>
                <span class="login100-form-title">
                    Member Login
                </span>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    @*<input class="input100" type="text" name="email" placeholder="Username">*@
                    @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "input100", @type = "text", @name = "Username", @placeholder = "Username", @required = "required" } })
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    @*<input class="input100" type="password" name="pass" placeholder="Password">*@
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100", id = "password-field", @type = "password", placeholder = "Password", @required = "required" } })
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="@Url.Action("ForgotPassword", "User")">
                        Username / Password?
                    </a>
                </div>

                @*<div class="text-center p-t-136">
            <a class="txt2" href="#">
                Create your Account
                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
            </a>
        </div>*@
            </form>
                }
                </div>

        </div>
    </div>


    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Infosight Limited</strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
                -->
                Designed by <a href="https://bootstrapmade.com/">Infosightonline.com</a>
            </div>
        </div>
    </footer><!-- End Footer -->
    <!--===============================================================================================-->
    <script src="~/Content/Login_v1/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v1/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/Login_v1/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v1/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v1/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    <script src="~/Content/Login_v1/js/main.js"></script>
    @Styles.Render("~/Content/Layoutcss")
</body>
</html>
